<div id="<%= dom_id todo %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= todo.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= todo.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= todo.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Ends at:</strong>
    <%= todo.ends_at %>
  </p>

</div>
